<launch>

	<arg name="sim" default="false" />

	<!-- Publish the robot model -->
    <param name="robot_description" command="cat $(find robosub_description)/urdf/robosub.urdf" />

    <!-- Start robot_localization which does the sensor fusion -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_main" clear_params="true">
            <rosparam command="load" file="$(find sensor_fusion)/params/main.yaml" />
            <remap from="odometry/filtered" to="state" />
    </node>

    <!-- If we are running simulation, republish simulation data to the correct topics for sensor fusion -->
    <group if="$(arg sim)">
    	<node pkg="sensor_fusion" name="simulation_republisher" type="simulation_republisher.py" />
    </group>
</launch>

