<launch>

        <param name="robot_description" command="cat $(find sub-urdf)/urdf/sub-urdf.urdf" />

        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_main" clear_params="true">
                <rosparam command="load" file="$(find sensor_fusion)/params/main.yaml" />

                <remap from="odometry/filtered" to="state" />
        </node>

        <node name="state_republisher" pkg="sensor_fusion" type="state_republisher.py" />
</launch>

