# Vim
*.swp
*.swo


# Python
*.pyc

# ROS/Catkin
*/catkin_ws/.catkin_tools
*/catkin_ws/build
*/catkin_ws/devel
*/catkin_ws/logs

# ROS_Serial
ros_lib/
ros_lib.zip

# Acoustics
*.csv

# Video and Bags
*.avi
*.bag
*.MOV

# PyCharm/IntelliJ
.idea

# VS Code
.vscode

# Mac
*.DS_Store

# Remember to load in the model files manaully
*.pth
robosub_ws.code-workspace

# CV footage extraction
onboard/catkin_ws/src/cv/footage_extraction/footage
onboard/catkin_ws/src/cv/footage_extraction/extracted_footage
onboard/catkin_ws/src/cv/footage_extraction/extracted_files
onboard/catkin_ws/src/cv/footage_extraction/uploaded_footage
onboard/catkin_ws/src/cv/footage_extraction/*.yaml

# Exclude CSV files in offboard_comms/data
!onboard/catkin_ws/src/offboard_comms/data/*.csv

# Foxglove
node_modules
dist
build