# Vim
*.swp
*.swo


# Python
*.pyc

# ROS/Catkin
*/catkin_ws/.catkin_tools
*/catkin_ws/build
*/catkin_ws/devel
*/catkin_ws/logs

# ROS2/Ament
*/ros2_ws/build
*/ros2_ws/log
*/ros2_ws/install

# ROS_Serial
ros_lib/
ros_lib.zip

# Acoustics
*.csv

# Video and Bags
*.avi
*.bag

# PyCharm/IntelliJ
.idea

# VS Code
.vscode

# Mac
*.DS_Store

# Remember to load in the model files manaully
*.pth
robosub_ws.code-workspace
