thrusters:
    -
        name: front_right
        type: T200
        pos: [0.22, -0.18, 0]
        rpy: [0, 0, 45]
    -
        name: front_left
        type: T200
        pos: [0.22, 0.18, 0]
        rpy: [0, 0, -45]
    -
        name: back_right
        type: T200
        pos: [-0.22, -0.18, 0]
        rpy: [0, 0, -45]
    -
        name: back_left
        type: T200
        pos: [-0.22, 0.18, 0]
        rpy: [0, 0, 45]
    -
        name: bottom_front_right
        type: T200
        pos: [0.22, -0.18, -0.15]
        rpy: [0, 270, 0]
    -
        name: bottom_front_left
        type: T200
        pos: [0.22, 0.18, -0.15]
        rpy: [0, 270, 0]
    -
        name: bottom_back_right
        type: T200
        pos: [-0.22, -0.18, -0.15]
        rpy: [0, 270, 0]
    -
        name: bottom_back_left
        type: T200
        pos: [-0.22, 0.18, -0.15]
        rpy: [0, 270, 0]
