<launch>
	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find robosub_gazebo)/worlds/test_world.world" />
		<arg name="gui" value="false" />
		<arg name="verbose" value="true" />
	</include>
</launch>
