thrusters:
    -
        name: front_right
        type: T200
        pos: [0.29845, -0.1778, 0]
        rpy: [0, 0, 45]
        flipped: true
    -
        name: front_left
        type: T200
        pos: [0.29845, 0.1778, 0]
        rpy: [0, 0, -45]
        flipped: true
    -
        name: back_right
        type: T200
        pos: [-0.29845, -0.1778, 0]
        rpy: [0, 0, 135]
        flipped: false
    -
        name: back_left
        type: T200
        pos: [-0.29845, 0.1778, 0]
        rpy: [0, 0, -135]
        flipped: true
    -
        name: bottom_front_right
        type: T200
        pos: [0.3048, -0.1651, -0.077875]
        rpy: [0, 90, 0]
        flipped: false
    -
        name: bottom_front_left
        type: T200
        pos: [0.3048, 0.1651, -0.077875]
        rpy: [0, 90, 0]
        flipped: true
    -
        name: bottom_back_right
        type: T200
        pos: [-0.3048, -0.1651, -0.077875]
        rpy: [0, 90, 0]
        flipped: false
    -
        name: bottom_back_left
        type: T200
        pos: [-0.3048, 0.1651, -0.077875]
        rpy: [0, 90, 0]
        flipped: true
