controls:
    x_pos:
        controller:
            Kp: 0.1
            Ki: 0.001
            Kd: 0.001
        upper_limit: 1
        lower_limit: -1
    y_pos:
        controller:
            Kp: 0.1
            Ki: 0.001
            Kd: 0.001
        upper_limit: 1
        lower_limit: -1
    z_pos:
        controller:
        # commented values are for camera pods
            Kp: 15      # 25
            Ki: 0.3     # 0.5
            Kd: 0.12    # 0.3
        upper_limit: 1
        lower_limit: -1
    roll_pos:
        controller:
            Kp: 0.01
            Ki: 0.001
            Kd: 0.001
        upper_limit: 0.5
        lower_limit: -0.5
    pitch_pos:
        controller:
            Kp: 0.01
            Ki: 0.001
            Kd: 0.001
        upper_limit: 0.5
        lower_limit: -0.5
    yaw_pos:
        controller:
            Kp: 0.01
            Ki: 0.001
            Kd: 0.001
        upper_limit: 0.5
        lower_limit: -0.5