controls:
    x_pos:
        controller:
            Kp: 0.7
            Ki: 0.005
            Kd: 0.001
    y_pos:
        controller:
            Kp: 0.7
            Ki: 0.005
            Kd: 0.001
    z_pos:
        controller:
            Kp: 10
            Ki: 0.001
            Kd: 0.001
    roll_pos:
        controller:
            Kp: 0.1
            Ki: 0.01
            Kd: 0.01
    pitch_pos:
        controller:
            Kp: 0.1
            Ki: 0.01
            Kd: 0.01
    yaw_pos:
        controller:
            Kp: 0.1
            Ki: 0.01
            Kd: 0.01