controls:
    x_pos:
        controller:
            Kp: 0.7
            Ki: 0.005
            Kd: 0.001
        upper_limit: 1
        lower_limit: -1
    y_pos:
        controller:
            Kp: 0.7
            Ki: 0.005
            Kd: 0.001
        upper_limit: 1
        lower_limit: -1
    z_pos:
        controller:
            Kp: 10
            Ki: 0.001
            Kd: 0.001
        upper_limit: 1
        lower_limit: -1
    roll_pos:
        controller:
            Kp: 0.1
            Ki: 0.01
            Kd: 0.01
        upper_limit: 0.5
        lower_limit: -0.5
    pitch_pos:
        controller:
            Kp: 0.1
            Ki: 0.01
            Kd: 0.01
        upper_limit: 0.5
        lower_limit: -0.5
    yaw_pos:
        controller:
            Kp: 0.1
            Ki: 0.01
            Kd: 0.01
        upper_limit: 0.5
        lower_limit: -0.5