<launch>
    <!-- Include all launch files required to move the robot, i.e. state tracking and controls -->
	<!-- <arg name="verbose_bounding_box" default="true" /> -->

    <node name="simulation" pkg="simulation" type="sim_loop.py" output="screen"/>
    <node 
        name="sim_box_maker" 
        pkg="simulation" 
        type="bounding_box.py"
        output="screen"
    />
    <node 
        name="sim_object_distance_tracker" 
        pkg="simulation" 
        type="object_distance.py"
        output="screen"
    />
</launch>
