<?xml version="1.0" ?>
<sdf version="1.6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <world name="robot">
    <light type="directional" name="sun">
      <cast_shadows>true</cast_shadows>
      <pose>0 0 10 0 0 0</pose>
      <diffuse>0.8 0.8 0.8 1</diffuse>
      <specular>0.2 0.2 0.2 1</specular>
      <attenuation>
        <range>1000</range>
        <constant>0.9</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <direction>-0.5 0.1 -0.9</direction>
    </light>
    <model name="ground_plane">
      <static>true</static>
      <link name="link">
        <collision name="collision">
          <geometry>
            <plane>
              <normal>0 0 1</normal>
              <size>100 100</size>
            </plane>
          </geometry>
        </collision>
        <visual name="visual">
          <geometry>
            <plane>
              <normal>0 0 1</normal>
              <size>100 100</size>
            </plane>
          </geometry>
          <material>
            <ambient>0.8 0.8 0.8 1</ambient>
            <diffuse>0.8 0.8 0.8 1</diffuse>
            <specular>0.8 0.8 0.8 1</specular>
          </material>
        </visual>
      </link>
    </model>

    <model name="robot">
      <!-- Macros -->
      <xacro:macro name="thruster" params="name pose='0 0 0 0 0 0'">
        <link name="${name}">
          <!-- Assuming x y z r p y as seen in our controls config files -->
          <pose>${pose}</pose>
          <visual name="visual">
            <geometry>
              <box>
                <size>0.2 0.2 0.2</size>
              </box>
            </geometry>
            <material>
              <ambient>0.0 0.0 1.0 1</ambient>
              <diffuse>0.0 0.0 1.0 1</diffuse>
              <specular>0.0 0.0 1.0 1</specular>
            </material>
          </visual>
        </link>

        <!-- Thruster joints -->
        <joint name="joint_${name}" type="fixed">
          <pose>0 0 0 0 0 0</pose>
          <parent>base_link</parent>
          <child>${name}</child>
        </joint>
      </xacro:macro>

      <pose>0 0 0 0 0 0</pose>
      <!-- The actual robot itself -->
      <link name="base_link">
        <pose>0.0 0.0 0.0 0 0 0</pose>
        <inertial>
          <!-- TODO -->
          <inertia>
            <ixx>2.501</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>2.501</iyy>
            <iyz>0</iyz>
            <izz>5</izz>
          </inertia>
          <mass>120.0</mass>
        </inertial>
        <visual name="base_visual">
          <pose>0.0 0.0 0.0 0 0 0</pose>
          <geometry>
            <box>
              <size>0.5 0.5 0.2</size>
            </box>
          </geometry>
          <material>
            <ambient>1.0 0.0 0.0 1</ambient>
            <diffuse>1.0 0.0 0.0 1</diffuse>
            <specular>1.0 0.0 0.0 1</specular>
          </material>
        </visual>
        <collision name="base_collision">
          <pose>0.0 0.0 0.0 0 0 0</pose>
          <geometry>
            <box>
              <size>0.5 0.5 0.5</size>
            </box>
          </geometry>
        </collision>
      </link>

      <!-- Thrusters -->
      <!-- Assuming x y z r p y as seen in our controls config files -->
      <xacro:thruster name="bottom_front_left" pose="0.1905, 0.37465, -0.0381 0 1.57079633 0"/>
      <xacro:thruster name="front_left" pose="0.3302 0.358775 0.0254 0 0 -0.7853982"/>
      <xacro:thruster name="front_right" pose="0.3302 -0.358775 0.0254 0 0 0.7853982"/>
      <xacro:thruster name="bottom_front_right" pose="0.1905 -0.37465 -0.0381 0 1.57079633 0"/>
      <xacro:thruster name="bottom_back_left" pose="-0.1905 0.37465 -0.0381 0 1.57079633 0"/>
      <xacro:thruster name="back_left" pose="-0.3302 0.358775 0.0254 0 0 -2.3561945"/>
      <xacro:thruster name="bottom_back_right" pose="-0.1905 -0.37465 -0.0381 0 1.57079633 0"/>
      <xacro:thruster name="back_right" pose="-0.3302 -0.358775 0.0254 0 0 2.3561945"/>

      <plugin
        filename="gz-sim-apply-joint-force-system"
        name="gz::sim::systems::ApplyJointForce">
        <joint_name>joint_front_left</joint_name>
      </plugin>
    </model>
  </world>
</sdf>