
sut:
  image: ${IMAGE_NAME}
  entrypoint: ["/bin/sh", "-c",  "cd ~/dev && \
                                  git clone https://github.com/DukeRobotics/robosub-ros.git && \
                                  cd robosub-ros && \
                                  git checkout ${GITHUB_REF} && \
                                  git merge master && \
                                  ./build.sh ${SERVICE_NAME}"]
