<launch>
	<arg name="rgb_video" default="True" doc='{"type":"bool","help":"Whether the RGB video (16:9, 1080p) should be published."}' />
	<arg name="rgb_preview" default="True" doc='{"type":"bool","help":"Whether the RGB preview (square, 416x416) should be published."}' />
	<arg name="left" default="True" doc='{"type":"bool","help":"Whether the left mono video should be published."}' />
	<arg name="right" default="True" doc='{"type":"bool","help":"Whether the right mono video should be published."}' />
	<arg name="disparity" default="True" doc='{"type":"bool","help":"Whether the disparity map should be published."}' />
	<arg name="depth" default="True" doc='{"type":"bool","help":"Whether the depth map should be published."}' />
	<node name="depthai_publish_image_stream" pkg="cv" type="depthai_publish_image_stream.py" output="screen">
		<param name="rgb_video" value="$(arg rgb_video)" />
		<param name="rgb_preview" value="$(arg rgb_preview)" />
		<param name="left" value="$(arg left)" />
		<param name="right" value="$(arg right)" />
		<param name="disparity" value="$(arg disparity)" />
		<param name="depth" value="$(arg depth)" />
	</node>
</launch>
