<launch>
	<arg name="feed_path" />
	<arg name="depthai_model_name" />
	<arg name="publishing_topic" default="/cv/depthai_sim/detections" />
	<node name="depthai_simulate_detection" pkg="cv" type="depthai_simulate_detection.py" output="screen">
		<param name="feed_path" value="$(arg feed_path)" />
		<param name="depthai_model_name" value="$(arg depthai_model_name)" />
		<param name="publishing_topic" value="$(arg publishing_topic)" />
	</node>
</launch>
