<launch>
    <arg name="model" default="yolov8n_2023" doc='{"options":["yolov8n_2023","yolov7_tiny_2023","gate_buoy","gate"],"allowEmpty":false,"help":"The DepthAI model to use from depthai_models.yaml"}'/>
    <node pkg="rosservice" type="rosservice" name="global_loc" args="call /enable_model_front $(arg model) True" />
</launch>
