<launch>
	<arg name="feed_path" default="" doc='{"type":"str","allowEmpty":false,"help":"The path to the still image or topic to use as the simulated camera feed."}'/>
	<arg name="publishing_topic" default="/cv/path_marker_sim/detections" doc='{"type":"str","allowEmpty":false,"help":"The topic to publish detections to."}'/>
	<node name="simulate_path_marker_detection" pkg="cv" type="simulate_path_marker_detection.py" output="screen">
		<param name="feed_path" value="$(arg feed_path)" />
		<param name="publishing_topic" value="$(arg publishing_topic)" />
	</node>
</launch>
