<launch>
	<arg name="feed_path" />
	<arg name="topic" />
	<arg name="framerate" />
	<node name="test_images" pkg="cv" type="test_images.py">
		<param name="feed_path" value="$(arg feed_path)" />
		<param name="topic" value="$(arg topic)" />
		<param name="framerate" value="$(arg framerate)" />
	</node>
</launch>