<launch>
	<arg name="feed_path" default="" />
	<arg name="topic" default="" />
	<arg name="framerate" default="24" />
	<node name="test_images" pkg="cv" type="test_images.py" output="screen">
		<param name="feed_path" value="$(arg feed_path)" />
		<param name="topic" value="$(arg topic)" />
		<param name="framerate" value="$(arg framerate)" />
	</node>
</launch>
