<?xml version="1.0"?>
<launch>
	<arg name="topic" default="/camera/image_raw" />
	<arg name="channel" default="0" />
	<arg name="framerate" default="24" />
	<node name="usb_camera" pkg="cv" type="usb_camera.py" output="screen">
		<param name="topic" value="$(arg topic)" />
		<param name="channel" value="$(arg channel)" />
		<param name="framerate" value="$(arg framerate)" />
	</node>
</launch>