<?xml version="1.0"?>
<launch>
	<arg name="topic" default="usb_camera" doc='{"type":"str","help":"The feed from the USB camera will be published to /camera/[topic]/image_raw."}'/>
	<arg name="device_path" default="/dev/video_front"  doc='{"type":"int","help":"The path the desired USB camera is publishing at. Ex. /dev/video0."}' />
	<arg name="framerate" default="-1" doc='{"type":"int","help":"Publishing framerate of USB camera. If this value is -1, the default framerate of the camera will be used."}' />
	<node name="$(anon usb_camera)" pkg="cv" type="usb_camera.py" output="screen">
		<param name="topic" value="$(arg topic)" />
		<param name="device_path" value="$(arg device_path)" />
		<param name="framerate" value="$(arg framerate)" />
	</node>
</launch>
