<?xml version="1.0"?>
<launch>
	<arg name="topic" default="usb_camera" />
	<arg name="channel" default="0"  doc='{"type":"int","help":"If the desired USB camera is publishing at /dev/video/[num], this value is [num]."}' />
	<arg name="framerate" default="-1" doc='{"type":"int","help":"Publishing framerate of USB camera."}' />
	<node name="usb_camera" pkg="cv" type="usb_camera.py" output="screen">
		<param name="topic" value="$(arg topic)" />
		<param name="channel" value="$(arg channel)" />
		<param name="framerate" value="$(arg framerate)" />
	</node>
</launch>
