<launch>

	<!-- Include all launch files required to move the robot, i.e. state tracking and controls -->

	<arg name="sim" default="false" />
	<arg name="enable_recording" default="false" />

	<!-- Start Arduino I/O -->
	<group unless="$(arg sim)">
		<include file="$(find offboard_comms)/launch/offboard_comms.launch" />
	</group>

	<!-- Start state tracking -->
	<include file="$(find execute)/launch/state.launch">
		<arg name="sim" value="$(arg sim)" />
	</include>

	<!-- Start controls -->
	<include file="$(find controls)/launch/controls.launch">
		<arg name="sim" value="$(arg sim)" />
	</include>

	<include file="$(find execute)/launch/sensors.launch" />

	<include file="$(find system_utils)/launch/system_utils.launch">
		<arg name="enable_recording" value="$(arg enable_recording)" />
	</include>

	<include file="$(find vectornav)/launch/vectornav.launch" />

</launch>
