<launch>
	<!-- Include all launch files for peripheral sensors, i.e. CV, sonar. -->

	<arg name="sim" default="false" />

	<!-- Start Sonar -->
	<group unless="$(arg sim)">
		<include file="$(find sonar)/launch/sonar.launch" >
            <arg name="stream" value="True" />
	        <arg name="debug" value="False" />
        </include>
	</group>

    <!-- Start CV -->
    <!-- <group unless="$(arg sim)">
        <include file="$(find cv)/launch/depthai_mono_detection.launch">
        </include>
    </group> -->
    <group unless="$(arg sim)">
        <include file="$(find cv)/launch/usb_camera_connect.launch">
        </include>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find cv)/launch/blue_rectangle_detector.launch">
        </include>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find cv)/launch/buoy_detector_contour_matching.launch">
        </include>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find cv)/launch/bin_detector.launch">
        </include>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find cv)/launch/path_marker_detector.launch">
        </include>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find cv)/launch/pink_bins_detector.launch">
            <arg name="camera" value="front" />
        </include>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find cv)/launch/pink_bins_detector.launch">
            <arg name="camera" value="bottom" />
        </include>
    </group>

</launch>
