# IMPORTANT: positions and rotations are not done yet

thrusters:
    -
        name: bottom_front_left
        type: T200
        pos: [0.1905, 0.37465, -0.0381]
        rpy: [0, 90, 0]
        flipped: true
    -
        name: front_left
        type: T200
        pos: [0.3302, 0.358775, 0.0254]
        rpy: [0, 0, -45]
        flipped: true
    -
        name: front_right
        type: T200
        pos: [0.3302, -0.358775, 0.0254]
        rpy: [0, 0, 45]
        flipped: true
    -
        name: bottom_front_right
        type: T200
        pos: [0.1905, -0.37465, -0.0381]
        rpy: [0, 90, 0]
        flipped: true
    -
        name: bottom_back_left
        type: T200
        pos: [-0.1905, 0.37465, -0.0381]
        rpy: [0, 90, 0]
        flipped: true
    -
        name: back_left
        type: T200
        pos: [-0.3302, 0.358775, 0.0254]
        rpy: [0, 0, -135]
        flipped: true
    -
        name: bottom_back_right
        type: T200
        pos: [-0.1905, -0.37465, -0.0381]
        rpy: [0, 90, 0]
        flipped: true
    -
        name: back_right
        type: T200
        pos: [-0.3302, -0.358775, 0.0254]
        rpy: [0, 0, 135]
        flipped: true
    
    
    
