[submodule "external/v_repStubsGen"]
	path = external/v_repStubsGen
	url = https://github.com/CoppeliaRobotics/v_repStubsGen
	branch = master
[submodule "external/v_repPlusPlus"]
	path = external/v_repPlusPlus
	url = https://github.com/CoppeliaRobotics/v_repPlusPlus
	branch = master
[submodule "cmake/CoppeliaRobotics-modules"]
	path = cmake/CoppeliaRobotics-modules
	url = https://github.com/CoppeliaRobotics/cmake.git
	branch = master
