<launch>
	<arg name="sim" default="false" />
    <arg name="debug" default="true" />
    <arg name="position_pid" default="true" />
    <arg name="velocity_pid" default="false" />

	<node pkg="controls" name="controls" type="controls.py" output="screen">
        <param name="sim" value="$(arg sim)" />
        <param name="debug" value="$(arg debug)" />
        <param name="position_pid" value="$(arg position_pid)" />
        <param name="velocity_pid" value="$(arg velocity_pid)" />
    </node>
</launch>
