<launch>
	<arg name="sim" default="false" />
    <arg name="debug" default="true" />
    <arg name="enable_position_pid" default="true" />
    <arg name="enable_velocity_pid" default="false" />

	<node pkg="controls" name="controls" type="controls" output="screen">
        <param name="sim" value="$(arg sim)" />
        <param name="debug" value="$(arg debug)" />
        <param name="enable_position_pid" value="$(arg enable_position_pid)" />
        <param name="enable_velocity_pid" value="$(arg enable_velocity_pid)" />
    </node>
</launch>
