<launch>

    <arg name="sim" default="false" />

    <arg name="pos_max" default="1" />
    <arg name="orient_max" default="0.5" />
    <arg name="min_loop_freq" value="100" />

    <!-- ROBOT PID Constants -->
    <group unless="$(arg sim)">
	   <group ns="controls/x_pos/controller">
            <param name="Kp" value="1" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/y_pos/controller">
            <param name="Kp" value="1" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/z_pos/controller">
            <param name="Kp" value="1" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/roll_pos/controller">
            <param name="Kp" value="0.01" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/pitch_pos/controller">
            <param name="Kp" value="0.01" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/yaw_pos/controller">
            <param name="Kp" value="1" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
    </group>

    <!-- SIMULATION PID Constants -->
    <group if="$(arg sim)">
       <group ns="controls/x_pos/controller">
            <param name="Kp" value="10" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/y_pos/controller">
            <param name="Kp" value="10" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/z_pos/controller">
            <param name="Kp" value="10" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/roll_pos/controller">
            <param name="Kp" value="0.01" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/pitch_pos/controller">
            <param name="Kp" value="0.01" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/yaw_pos/controller">
            <param name="Kp" value="1" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
    </group>

    <node name="controller" pkg="pid" type="controller" ns="controls/x_pos" output="log" >
        <param name="node_name" value="global_x_pos_pid" />
        <param name="upper_limit" value="$(arg pos_max)" />
        <param name="lower_limit" value="-$(arg pos_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/x_pos" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/controls/x_vel/setpoint" />
        <remap from="state" to="/controls/state/pose/x" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/y_pos" output="log" >
        <param name="node_name" value="global_y_pos_pid" />
        <param name="upper_limit" value="$(arg pos_max)" />
        <param name="lower_limit" value="-$(arg pos_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/y_pos" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/controls/y_vel/setpoint" />
        <remap from="state" to="/controls/state/pose/y" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/z_pos" output="log" >
        <param name="node_name" value="global_z_pos_pid" />
        <param name="upper_limit" value="$(arg pos_max)" />
        <param name="lower_limit" value="-$(arg pos_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/z_pos" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/controls/z_vel/setpoint" />
        <remap from="state" to="/controls/state/pose/z" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/roll_pos" output="log" >
        <param name="node_name" value="global_roll_pos_pid" />
        <param name="upper_limit" value="$(arg orient_max)" />
        <param name="lower_limit" value="-$(arg orient_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/roll_pos" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/controls/roll_vel/setpoint" />
        <remap from="state" to="/controls/state/pose/roll" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/pitch_pos" output="log" >
        <param name="node_name" value="global_pitch_pos_pid" />
        <param name="upper_limit" value="$(arg orient_max)" />
        <param name="lower_limit" value="-$(arg orient_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/pitch_pos" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/controls/pitch_vel/setpoint" />
        <remap from="state" to="/controls/state/pose/pitch" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/yaw_pos" output="log" >
        <param name="node_name" value="global_yaw_pos_pid" />
        <param name="upper_limit" value="$(arg orient_max)" />
        <param name="lower_limit" value="-$(arg orient_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/yaw_pos" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/controls/yaw_vel/setpoint" />
        <remap from="state" to="/controls/state/pose/yaw" />
    </node>

</launch>
