<launch>

    <arg name="sim" default="false" />

    <arg name="vel_max" default="1" />
    <arg name="orient_max" default="0.5" />
    <arg name="min_loop_freq" value="100" />

    <arg name = "x_vel_Kp" default = "1" />
    <arg name = "x_vel_Ki" default = "0.001" />
    <arg name = "x_vel_Kd" default = "0.001" />

    <arg name = "y_vel_Kp" default = "1" />
    <arg name = "y_vel_Ki" default = "0.001" />
    <arg name = "y_vel_Kd" default = "0.001" />

    <arg name = "z_vel_Kp" default = "1" />
    <arg name = "z_vel_Ki" default = "0.001" />
    <arg name = "z_vel_Kd" default = "0.001" />

    <arg name = "roll_vel_Kp" default = "0.01" />
    <arg name = "roll_vel_Ki" default = "0.001" />
    <arg name = "roll_vel_Kd" default = "0.001" />

    <arg name = "pitch_vel_Kp" default = "0.01" />
    <arg name = "pitch_vel_Ki" default = "0.001" />
    <arg name = "pitch_vel_Kd" default = "0.001" />

    <arg name = "yaw_vel_Kp" default = "0.01" />
    <arg name = "yaw_vel_Ki" default = "0.001" />
    <arg name = "yaw_vel_Kd" default = "0.001" />

    <!-- ROBOT PID Constants -->
    <group unless="$(arg sim)">
	   <group ns="controls/x_vel/controller">
            <param name="Kp" value="1" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/y_vel/controller">
            <param name="Kp" value="1" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/z_vel/controller">
            <param name="Kp" value="1" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/roll_vel/controller">
            <param name="Kp" value="0.01" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/pitch_vel/controller">
            <param name="Kp" value="0.01" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
        <group ns="controls/yaw_vel/controller">
            <param name="Kp" value="1" />
            <param name="Ki" value="0.001" />
            <param name="Kd" value="0.001" />
        </group>
    </group>

    <!-- SIMULATION PID Constants -->
    <group if="$(arg sim)">
       <group ns="controls/x_vel/controller">
            <param name="Kp" value="$(arg x_vel_Kp)" />
            <param name="Ki" value="$(arg x_vel_Ki)" />
            <param name="Kd" value="$(arg x_vel_Kd)" />
        </group>
        <group ns="controls/y_vel/controller">
            <param name="Kp" value="$(arg y_vel_Kp)" />
            <param name="Ki" value="$(arg y_vel_Ki)" />
            <param name="Kd" value="$(arg y_vel_Kd)" />
        </group>
        <group ns="controls/z_vel/controller">
            <param name="Kp" value="$(arg z_vel_Kp)" />
            <param name="Ki" value="$(arg z_vel_Ki)" />
            <param name="Kd" value="$(arg z_vel_Kd)" />
        </group>
        <group ns="controls/roll_vel/controller">
            <param name="Kp" value="$(arg roll_vel_Kp)" />
            <param name="Ki" value="$(arg roll_vel_Ki)" />
            <param name="Kd" value="$(arg roll_vel_Kd)" />
        </group>
        <group ns="controls/pitch_vel/controller">
            <param name="Kp" value="(arg pitch_vel_Kp)" />
            <param name="Ki" value="(arg pitch_vel_Ki)" />
            <param name="Kd" value="(arg pitch_vel_Kd)" />
        </group>
        <group ns="controls/yaw_vel/controller">
            <param name="Kp" value="(arg yaw_vel_Kp)" />
            <param name="Ki" value="(arg yaw_vel_Ki)" />
            <param name="Kd" value="(arg yaw_vel_Kd)" />
        </group>
    </group>

    <node name="controller" pkg="pid" type="controller" ns="controls/x_vel" output="log" >
        <param name="node_name" value="global_x_vel_pid" />
        <param name="upper_limit" value="$(arg vel_max)" />
        <param name="lower_limit" value="-$(arg vel_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/x_vel" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/control_effort/x" />
        <remap from="state" to="/controls/state/twist/x" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/y_vel" output="log" >
        <param name="node_name" value="global_y_vel_pid" />
        <param name="upper_limit" value="$(arg vel_max)" />
        <param name="lower_limit" value="-$(arg vel_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/y_vel" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/control_effort/y" />
        <remap from="state" to="/controls/state/twist/y" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/z_vel" output="log" >
        <param name="node_name" value="global_z_vel_pid" />
        <param name="upper_limit" value="$(arg vel_max)" />
        <param name="lower_limit" value="-$(arg vel_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/z_vel" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/control_effort/z" />
        <remap from="state" to="/controls/state/twist/z" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/roll_vel" output="log" >
        <param name="node_name" value="global_roll_vel_pid" />
        <param name="upper_limit" value="$(arg orient_max)" />
        <param name="lower_limit" value="-$(arg orient_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/roll_vel" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/control_effort/roll" />
        <remap from="state" to="/controls/state/twist/roll" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/pitch_vel" output="log" >
        <param name="node_name" value="global_pitch_vel_pid" />
        <param name="upper_limit" value="$(arg orient_max)" />
        <param name="lower_limit" value="-$(arg orient_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/pitch_vel" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/control_effort/pitch" />
        <remap from="state" to="/controls/state/twist/pitch" />
    </node>

    <node name="controller" pkg="pid" type="controller" ns="controls/yaw_vel" output="log" >
        <param name="node_name" value="global_yaw_vel_pid" />
        <param name="upper_limit" value="$(arg orient_max)" />
        <param name="lower_limit" value="-$(arg orient_max)" />
        <!-- <param name="windup_limit" value="10" /> -->
        <param name="pid_enable_topic" value="/controls/enable/yaw_vel" />
        <param name="min_loop_frequency" value="$(arg min_loop_freq)" />
        <remap from="control_effort" to="/control_effort/yaw" />
        <remap from="state" to="/controls/state/twist/yaw" />
    </node>

</launch>
