<launch>
	<node pkg="tf2_ros" type="static_transform_publisher" name="corner_link_publisher" args="0.1080 0.1014 0.1575 0 0 0 base_link corner_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="dvl_link_publisher" args="-0.3118 -0.1014 -0.3894 0 0 0 corner_link dvl_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="cameras_link_publisher" args="0.2287 -0.2061 0.0407 0 0 0 corner_link cameras_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="left_cameras_link_publisher" args="0.2287 -0.1699 0.0407 0 0 0 corner_link left_cameras_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="right_cameras_link_publisher" args="0.2287 -0.2423 0.0407 0 0 0 corner_link right_cameras_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_publisher" args="-0.0359 -0.1008 -0.1219 0 0 0 corner_link imu_link" />
</launch>
