<launch>

	<!-- Start state tracking -->
	<include file="$(find execute)/launch/state.launch" />

	<!-- Start low level motion script -->
	<include file="$(find controls)/launch/base_controls_listener.launch" />

	<!-- Start desired state publishing script -->
	<include file="$(find motion_planning)/launch/move_to_desired_state.launch" />
</launch>
