<launch>

	<!-- Start mavros -->
	<!--<include file="$(find mavros)/launch/apm.launch">-->
		<!-- <arg name="gcs_url" value="" /> -->
		<!-- <arg name="fcu_url" value="udp://0.0.0.0:14550@" /> -->
	<!--</include>-->

	<!-- Publish sensor data -->
	<include file="$(find data_pub)/launch/pub_all.launch" />

	<!-- Static transforms and sensor fusion -->
	<include file="$(find static_transforms)/launch/static_transforms.launch" />
	<include file="$(find sensor_fusion)/launch/fuse.launch" />
</launch>
