<launch>
	
	<!-- Run everything

    <arg name="sim" default="false" />

    <!-- Include motion to start up services used to control the robot -->
    <include file="$(find execute)/launch/motion.launch">
    	<arg name="sim" value="$(arg sim)" />
    </include>

    <!-- Run the task planner -->
    <include file="$(find motion_planning)/launch/task_runner.launch" />
</launch>
