name: delete-artifacts

on:
  # Run at 0900 UTC (4am EST) everyday
  schedule:
    - cron: "0 9 * * *"

jobs:
  cleanup-docker:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Cleanup artifacts
        uses: geekyeggo/delete-artifact@v1
        with:
          name: |
            onboard
            landside
          failOnError: false